html {
  scroll-behavior: smooth;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item {
  padding: 0 18px;
  color:#fff;
}

.nav-link {
  font-size: 1.2rem;
}

.container-fluid {
  padding:7% 15%;
}

.foto-orang {
  width: 300px;
  height: 300px;
}

.birthday-gift {
  width: 100%;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  color: #0F7173;
}


p {
  font-family: 'Inter', sans-serif;
}

.colored-section {
  background-color:  #0F7173;
}

#doa {
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
  color:#fff;
}


.icon {
  color:rgb(238,238,238);
  margin-bottom: 1rem;
}

.icon:hover {
  color:#fff;
}

#doa p {
  color:#fff;
  font-size: 1rem;
}
